.mainContainer {
  border: 2px solid #f0f0f0;
  border-radius: 20px;
}
.table_container {
  border-radius: 10px 10px 0px 0px;
}
.dateInput {
  max-width: 200px;
}
.metricsBlocks {
  /* max-width: 300px; */
  width: fit-content;
}
.premiumBlueContainer {
  background-color: rgba(20, 122, 214, 0.1);
}
.premiumContainer {
  background-color: rgba(249, 0, 0, 0.1);
}
